body{
    background-color: blanchedalmond;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
#info{
    position: absolute;
    color: goldenrod;
    top: 30%;
    left: 25%;
}
